[submodule "public"]
	path = public
	url = https://github.com/blair55/blair55.github.io.git
	branch = master
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/blair55/hugo-notepadium.git
